{% extends "base.html" %}
{% block content %}
<h1>About</h1>

  <div id="Web Crawler">
      <h3>Web Crawler</h3>
      <p>Crawls all the webpages of a given websites/base URLs.</p>
  </div>

  <div id="Web Scraper">
      <h3>Web Scraper</h3>
      <p>Scrapes all the plugins and themes with versions from the souce code of all webpages.</p>
  </div>

  <div id="Mapper">
      <h3>Mapper</h3>
      <p>Maps all plugins and themes found from website to vulnerable plugins and themes from (wpvulndb)Wordpress Vulnerability Database.</p>
   </div>

{% endblock %}
