{% extends "base.html" %}
{% block content %}

<h1 style="font-size:2.5em">Resources used</h1>

  <div id="wpvulndb">
    <h3>wpvulndb</h3>
    <ul>
      <li>The <a href="https://wpvulndb.com/">wpvulndb</a> website is a database of wordperss vulnerabilities.</li>
      <li>It has all the vulnerable wordpress, plugins, themes.</li>
    </ul>
  </div>

  <div id="Code">
    <h3>Code</h3>
    <ul>
      <li>Github <a href="https://github.com/DeekshithReddyAddela/WPVuln">WPVuln</a> code link.</li>
    </ul>
  </div>
{% endblock %}
